<template lang="pug">
	.course
		.inner
			.course__inner
				.course__aside
					affix.course__aside-sticky(relative-element-selector="#course-content", :enabled="!(this.$store.state.base.breakpoint.mobile || this.$store.state.base.breakpoint.tablet)", :scrollAffix="true", :offset="stickyOptions.offset", ref="aside")
						aside-menu(@onSlideEnd="onSlideEnd")

				.course__content#course-content
					.course__content-inner
						.loader(v-if="loading")
						course-content(v-if="$route.params.item")
						main-content(v-else)

</template>

<script>

	import AsideMenu from './menu/index'
	import MainContent from './menu/main-content'
	import CourseContent from './course-content'
	import Affix from '../../../components/affix'
	import {mapState} from "vuex"


	export default {

		components: {
			AsideMenu,
			MainContent,
			CourseContent,
			Affix,
		},

		data(){
			return {
				loading: false,
				stickyOptions: {
					zIndex: 1,
					offset: {
						top: this.localNav ? 135 : 100,
						bottom: 0
					}
				}
			}
		},

		computed: {
			...mapState({
				localNav: state => !!state.base.localNav.courses
			}),
		},

		created(){
			this.$store.dispatch('course/getLocalNav');
			this.loadCase();
			this.loadItem();
		},

		beforeDestroy(){

		},

		methods: {

			onSlideEnd(){
				// console.info('dasdas');
				//
				//
				// this.stickyOptions.disabled = true;

				/*setTimeout(()=>{
					this.$refs.aside.reinit();
				}, 1000);*/
			},

			loadCase(){
				if ( this.$route.params.case ){
					this.loading = true;
					this.$store.dispatch('course/getInfo', this.$route.params.case)
						.then(res=>{
							if(res.home){
								for (let i = 0; i < res.menu.length; i++){
									if ( res.menu[i].submenu && res.menu[i].submenu.length) {
										for (let j = 0; j < res.menu[i].submenu.length; j++){
											if ( res.home === res.menu[i].submenu[j].id){
												this.$router.push({
													name: 'courses-item',
													params: {
														case: this.$route.params.case,
														item: res.menu[i].submenu[j].id
													},
													query: {
														secret: res.menu[i].submenu[j].secret
													}
												});
												break;
											}
										}
									}
								}
							}
						})
						.finally(()=>{
							this.loading = false;
						});

				}
			},

			loadItem(){
				if (this.$route.params.item) {
					this.$store.dispatch('course/getItem', {
						course_id: this.$route.params.case,
						id: this.$route.params.item,
						secret: this.$route.query.secret
					});
				}
			},

		},

		watch: {
			'$route' (to, from) {
				if (to.params.case && to.params.case !== from.params.case ) this.loadCase();
				if (to.params.item && to.params.case !== from.params.item ) this.loadItem();
			},

			localNav(val){
				this.stickyOptions.stickyTop = val ? 135 : 100
			}
		},
	}
</script>

<style scoped lang="scss">

	.course{

		&__inner{
			@include breakPoint($breakpoint-compact){
				margin: 0 (-$grid-gutter / 2);
				display: flex;
			}
		}

		&__aside{
			position: relative;

			@include breakPoint($breakpoint-tablet){
				margin-top: 20px;
			}

			@include breakPoint($breakpoint-compact){
				width: (3 * 100% / 10);
				box-sizing: border-box;
				padding: 0 ($grid-gutter / 2);
			}

			&-sticky{

				@include breakPoint(0, $breakpoint-compact){
					top: 0!important;
				}

				@include breakPoint($breakpoint-compact){
					width: 238px;
					box-sizing: border-box;
				}

				@include breakPoint($breakpoint-desktop){
					width: 322px;
					box-sizing: border-box;
				}

				@include breakPoint($breakpoint-hd){
					width: 451px;
					box-sizing: border-box;
				}
			}
		}

		&__content{
			@include breakPoint($breakpoint-compact){
				width: (7 * 100% / 10);
				box-sizing: border-box;
				padding: 0 ($grid-gutter / 2);
			}
		}
	}

</style>