<template lang="pug">
	.menu
		.menu__inner
			.menu__head(@click="slideDown = !slideDown")
				.menu__head-title
					| Список уроков
					icon(v-if="$store.state.base.breakpoint.mobile || $store.state.base.breakpoint.tablet", :name="slideDown ? 'chevron-up' : 'chevron-down'", width="30")


			slide-up-down.menu__wrap(:active="open", @open-end="onSlideEnd", @close-end="onSlideEnd")
				menu-case(v-for="(item, index) in menu", :key="index", :item="item", @onSlideEnd="onSlideEnd")


</template>

<script>

	import {mapState} from "vuex";

	import MenuCase from './menu-case'

	export default {

		components: {
			MenuCase
		},

		data(){
			return {
				slideDown: false
			}
		},

		computed: {
			...mapState({
				menu: state => state.course.menu,
			}),

			open(){
				return this.$store.state.base.breakpoint.mobile || this.$store.state.base.breakpoint.tablet ? this.slideDown : true;
			}
		},

		mounted(){
		},

		watch: {

			'$route' (to, from) {
				if ( this.$store.state.base.breakpoint.mobile || this.$store.state.base.breakpoint.tablet){
					this.slideDown = false;
				}
			}
		},

		methods: {
			onSlideEnd(){
				this.$emit('onSlideEnd');
			},
		}

	}
</script>

<style scoped lang="scss">
	.menu{

		margin: 0 -20px;

		@include breakPoint($breakpoint-tablet){
			margin: 0;
			padding-bottom: 20px;
		}

		@include breakPoint($breakpoint-compact){

		}

		&__inner{
			box-shadow: $box-shadow;
			background: #fff;
		}

		&__head{
			height: 80px;
			padding: 0 20px;
			font-size: 24px;
			font-family: $font-title;
			font-weight: 400;
			border-bottom: 1px solid #ECECEC;
			display: flex;
			align-items: center;

			@include breakPoint(0, $breakpoint-compact){
				cursor: pointer;
			}

			&-title{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				.icon{
					position: absolute;
					color: $color-grey-light;
					top: 25px;
					right: 0;

					@include breakPoint($breakpoint-tablet){
						right: 15px;
					}
				}
			}
		}

	}
</style>