<template lang="pug">
	main-layout

</template>

<script>

	import MainLayout from './components/layout';
	import ViewPort from './middleware/library/module.viewport'

	import {mapState} from "vuex";

	export default {

		components: {
			MainLayout
		},

		data () {
			return {

				loading: false,

			}
		},

		computed: {

		},

		mounted (){

			this.dragdrop();

			new ViewPort({
				'0': ()=>{
					this.$store.commit('base/SET_VIEWPORT', 'mobile');
				},
				'768': ()=>{
					this.$store.commit('base/SET_VIEWPORT', 'tablet');
				},
				'960': ()=>{
					this.$store.commit('base/SET_VIEWPORT', 'compact');
				},
				'1200': ()=>{
					this.$store.commit('base/SET_VIEWPORT', 'desktop');
				},
				'1660': ()=>{
					this.$store.commit('base/SET_VIEWPORT', 'hd');
				}
			});

		},

		methods: {
			dragdrop(){
				let body = document.body;

				['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
					body.addEventListener(eventName, (e)=>{
						e.preventDefault();
					}, false)
				});
				['dragenter', 'dragover'].forEach(eventName => {
					body.addEventListener(eventName, ()=>{
						if (!body.classList.contains('on-drag')) body.classList.add('on-drag')
					}, false)
				});
				['dragleave', 'drop'].forEach(eventName => {
					body.addEventListener(eventName, ()=>{
						if (body.classList.contains('on-drag')) body.classList.remove('on-drag')
					}, false)
				});
			}
		},

		watch: {

			'$route' (to, from) {
				//console.info(to)
				if ( to.meta.section !== from.meta.section ){
					this.$store.commit('base/TOGGLE_MENU', false);
				}
			}
		},

	}
</script>

<style lang="scss">

</style>