<template lang="pug">
	.inner
		.content
			.course-card
				.loader(v-if="loading")
				course-card(v-for="card in list", :key="card.id", :item="card")
</template>

<script>
	import {mapState} from "vuex";
	import CourseCard from './course-card';

	export default {

		components: {
			CourseCard
		},

		data(){
			return {
				loading: false
			}
		},

		computed: {
			...mapState({
				list: state => state.course.list,
			}),
		},

		created(){
			this.loadData();
		},

		methods: {
			loadData(){
				this.loading = true;
				this.$store.dispatch('course/getList')
					.then(res => {
						if ( res.items.length === 1 ){
							this.$router.push(`/courses/${res.items[0].id}`)
						} else if ( this.$route.name !== 'courses-all' ) {
							this.$router.push(`/courses/all`)
						}
					})
					.finally(()=>{
						this.loading = false;
					});
				this.$store.dispatch('course/getLocalNav');
			}
		},

		watch: {

		},
	}
</script>

<style scoped lang="scss">
	.course-card{
		margin: -10px;
		display: flex;
		flex-wrap: wrap;


	}

</style>