<template lang="pug">

	.course__case
		.course__title(v-if="content.title", :class="{'link' : slide}", @click="click")
			span(v-html="content.title")
			icon(:name="open ? 'chevron-up' : 'chevron-down'", v-if="slide").arrow
		.course__case-anchor(v-if="content.anchor"): a(:id="content.anchor")
		slide-up-down(:active="open")
			.course__text
				.course__file
					.course__file-item(v-for="file in content.files", :class="`course__file-item_${file.color}`")
						a(:href='file.url', target="_blank").course__file-inner
							.course__file-ext {{ file.type }}
							.course__file-name {{ file.title }}
							.course__file-weight {{ file.weight }}
							.course__file-icon: include ../../../../img/svg/ico_download.svg

</template>

<script>

	export default {

		props: {
			content: {
				type: Object
			}
		},

		data(){
			return {
				open: this.content.collapse === undefined || !this.content.collapse,
			}
		},

		computed: {
			slide(){
				return this.content.collapse !== undefined;
			}
		},

		mounted(){

		},

		methods: {
			click(){
				if (this.slide) this.open = !this.open;
			}
		},

		watch: {

		},
	}
</script>

<style scoped lang="scss">

</style>