<template lang="pug">

	.course__case
		.course__title(v-if="content.title", :class="{'link' : slide}", @click="click")
			span(v-html="content.title")
			icon(:name="open ? 'chevron-up' : 'chevron-down'", v-if="slide").arrow
		.course__case-anchor(v-if="content.anchor"): a(:id="content.anchor")
		slide-up-down(:active="open")
			.course__text
				.course__html(v-if="content.html", v-html="content.html")
				.course__video(v-for="video in content.videos")
					.course__video-name(v-if="video.name") {{ video.name}}
					.course__video-item(v-if="video.vimeoId")
						vue-vimeo-player(
							:videoId='`${video.vimeoId}`',
							:video-url='`https://player.vimeo.com/video/${video.vimeoId}`',
							).course__video-frame
					.course__video-item(v-if="video.youtubeId")
						youtube(
							:video-id='video.youtubeId',
							).course__video-frame
					.course__video-item(v-else-if="video.poster", v-lazy:background-image='video.poster')


</template>

<script>
	import {vueVimeoPlayer} from 'vue-vimeo-player'

	export default {

		components: {
			vueVimeoPlayer
		},

		props: {
			content: {
				type: Object
			}
		},

		data(){
			return {
				open: this.content.collapse === undefined || !this.content.collapse,
			}
		},

		computed: {
			slide(){
				return this.content.collapse !== undefined;
			}
		},

		mounted(){

		},

		methods: {
			click(){
				if (this.slide) this.open = !this.open;
			}
		},

		watch: {

		},
	}
</script>

<style scoped lang="scss">


</style>