doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')/
		//-meta(http-equiv="Content-Type" content="text/html; charset=windows-1251")
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title Личный кабинет - alinamakarova.ru

		//-meta(property='og:title', content= pageTitle)/
		//-meta(property='og:description', content= pageDescription)/
		//-meta(property='og:image', content= pageImage)/
		//-meta(property='og:url', content= pageUrl)/
		//-meta(name='twitter:title', content= pageTitle)/
		//-meta(name='twitter:description', content= pageDescription)/
		//-meta(name='twitter:image', content= pageImage)/
		//-meta(name='twitter:card', content='summary_large_image')/
		//-include favicon

		block head
	body
		#app