<template lang="pug">
	.dialog__writing
		.dialog__writing-status(v-if="isWriting")
			.dialog__writing-status-icon: img(src="../../../../img/svg/loading_dots.svg")
			.dialog__writing-status-text {{ dialog.main.title }} печатает
		.dialog__writing-field
			.dialog__writing-field-input
				.dialog__writing-field-scrollbar(v-scrollbar)
					.dialog__writing-field-inner
						contenteditable(tag="div", :contenteditable="true", v-model="message", @keydown="keydown").dialog__writing-field-textarea
			.dialog__writing-field-btn(:class="{'is-disabled': disableFileAdd }", @click="addFiles"): icon(name="clip")
			.dialog__writing-field-btn(:class="{'is-active': !disableSending, 'is-disabled': disableSending }", @click="sendMessage")
				span(v-if="loading"): include ../../../../img/svg/loader-yellow.svg
				icon(name="send", v-else)


</template>

<script>
	import {mapState} from 'vuex'

	export default {
		name: 'dialog-writing',

		components: {

		},

		data(){
			return {
				loading: false,
				timer: null,
				isWriting: false,
				timerWriting: null,
				shiftKeyPressed: false
			}
		},

		computed: {
			...mapState({
				options: state => state.dialogs.options,
				sending: state => state.dialogs.sending,
				dialog: state => state.dialogs.item,
				websocket: state => state.base.websocket,
				user: state => state.base.user,
			}),

			message: {
				get(){
					return this.sending.message
				},
				set(value){
					this.$store.commit('dialogs/SET_MESSAGE', value);
				}
			},

			disableFileAdd(){
				return this.sending.assets.length >= this.options.maxAssetLength;
			},

			disableSending(){
				return (!this.message.trim() && !this.sending.assets.length) || this.loading;
			},
		},

		beforeDestroy(){
			this.$eventHub.$off('ws-onmessage');
		},

		created(){
			this.$eventHub.$on('ws-onmessage', this.wsMessage);
		},

		methods: {

			wsMessage({data}){
				if ( data.action === "writing" && data.dialog_id.toString() === this.dialog.id.toString() ){
					this.isWriting = true;
					clearTimeout(this.timerWriting);
					this.timerWriting = setTimeout(()=>{
						this.isWriting = false;
					}, 3000)
				}
			},

			addFiles(){
				if ( !this.disableFileAdd) {
					this.$store.commit('dialogs/SET_UPLOAD_VIEW', true)
				}
			},

			keydown(e){
				if (!this.timer){
					this.userIsWriting();
				}
				clearTimeout(this.timer);
				this.timer = setTimeout(()=>{
					this.timer = null;
				}, 300);

				if ( !e.shiftKey && e.keyCode === 13){
					e.preventDefault();
					if ( !this.disableSending ) this.sendMessage();
				}
			},

			userIsWriting(){
				if (this.websocket){
					this.websocket.send(JSON.stringify({
						action: 'writing',
						dialog_id: this.dialog.id,
						user_id: this.user.id,
					}));
				}
			},

			sendMessage(){
				if ( !this.disableSending ){
					this.loading = true;
					this.$store.dispatch('dialogs/sendMessage')
						.then(()=>{
							this.$store.commit('dialogs/CLEAR_SENDING');
						})
						.finally(()=>{
							this.loading = false;
						})
					;
				}
			}
		},

	}
</script>

<style scoped lang="scss">

	.dialog__writing{

		&-status{
			display: flex;
			align-items: center;
			margin-bottom: 12px;

			&-icon{
				width: 30px;
				margin-right: 10px;
				font-size: 0;
			}

			&-text{}

		}

		&-field{
			display: flex;
			align-items: flex-end;

			&-input{
				flex: 1 1 auto;
			}

			&-scrollbar{
				background: #ECEDEF;
				border-radius: 21px;
				max-height: 180px;
			}

			&-textarea{
				padding: 12px 20px 11px;
			}

			&-btn{
				width: 42px;
				min-width: 42px;
				height: 42px;
				border-radius: 50%;
				margin-left: 10px;
				background: #ECEDEF;
				cursor: pointer;
				color: $color-grey;

				svg{
					width: 100%;
					height: 100%;
				}

				&.is-active,
				&:hover{
					background: $color-yellow;
					color: #fff;
				}

				&.is-disabled{
					background: #ECEDEF;
					color: $color-grey;
					cursor: default;
				}

				.icon{
					width: 100%;
					height: 100%;
				}
			}

			&::v-deep .os-scrollbar-vertical{
				top: 15px;
				bottom: 15px;
			}
		}
	}

</style>