<template lang="pug">
	.lk(v-if="loading")
		.loader
	.lk(v-else, :class="{'lk_nav': localNavigation}")
		gallery(:id="`b-gallert-${_uid}`", :images="gallery", :index="imageOpened", @close="imageOpened = null")
		.lk-header
			.inner
				.lk-header__top
					.lk-header__handler(v-ripple, @click="$store.commit('base/TOGGLE_MENU')", :class="{'lk-header__handler_active': showMenu}"): .lk-header__handler-burger
					.lk-header__title {{ $route.meta.title }}
			lk-nav(v-if="localNavigation")
		lk-menu

		.lk-content(v-if="$store.state.base.user.id")
			transition(mode='out-in', name="content")
				router-view

</template>

<script>

	import {mapState} from "vuex";

	import LkNav from './nav'
	import LkMenu from './menu'

	export default {

		components: {
			LkNav,
			LkMenu
		},

		data(){
			return {
				loading: false
			}
		},

		computed: {
			...mapState({
				showMenu: state => state.base.showMenu,
				user: state => state.base.user,
				localNav: state => state.base.localNav,
				gallery: state => state.base.gallery.items
			}),

			imageOpened:{
				get(){
					return this.$store.state.base.gallery.open;
				},
				set(value){
					this.$store.commit('base/SET_GALLERY_OPEN', value)
				}
			},

			localNavigation(){
				return this.localNav[this.$route.meta.section] && this.localNav[this.$route.meta.section].length;
			}


		},

		created(){
			this.loading = true;

			(async () => {
				//await this.$store.dispatch('base/getMenu');
				await this.$store.dispatch('base/commonInfo').finally(() => { this.loading = false; });
				if ( isProd ){
					const websocket = new WebSocket(`wss://alinamakarova.ru:2346/?user=${this.user.id}`);
					websocket.onmessage = (e) => {
						console.info(e);
						this.catchWsMessage(e.data);
					};
					websocket.onopen = () => {
						this.$store.commit('base/SET_WEBSOCKET', websocket);
						console.info("Соединение установлено.");
					};
					websocket.onerror  = (error) => {
						console.info("Ошибка ", error);
					};
				}
			})().catch(err => {
				this.loading = false;
			});

		},

		mounted(){
			window.catchWsMessage = this.catchWsMessage;
		},

		methods: {
			catchWsMessage(e){
				let data = {};

				try{
					data = JSON.parse(e);
					console.info(data);
				} catch (err){
					console.info(err);
					console.info(e);
				}

				this.$eventHub.$emit('ws-onmessage', {
					data,
					user: this.user
				});

				if ( data.signals && data.signals.length ){
					data.signals.forEach( item => {
						switch (item.object){
							case 'nav_dialogs':
								if ( this.user.curator && item.data.menu && item.data.menu.length ){
									item.data.menu.forEach( menu => {
										this.$store.commit('base/SET_LOCAL_NAV_COUNT', {
											name: 'dialogs',
											id: menu.id,
											count: menu.count
										});
									})
								}
								break;
							case 'dialog_menu':
								if ( item.data.chat && item.data.chat.id ){

									if ( this.user.curator ) {
										this.$store.commit('dialogs/SET_MENU_COUNT', {
											id: item.data.chat.id,
											count: item.data.chat.count,
											text: item.data.chat.text,
											date: item.data.chat.date,
										});
									} else {
										this.$store.commit('base/SET_LOCAL_NAV_COUNT', {
											name: 'dialogs',
											id: item.data.chat.id,
											count: item.data.chat.count
										});
									}

								}
								break;
							case 'message':
								console.info(item.data);
								if ( item.data.action === 'remove' ){
									this.$store.commit('dialogs/REMOVE_POST', item.data.id);
								} else if ( item.data.action === 'restore' ) {
									this.$store.commit('dialogs/RESTORE_POST', item.data.id);
								}
								break;
							default:
								break;
						}
					})
				}
			}
		}
	}
</script>

<style scoped lang="scss">

	.lk{
		padding-top: 65px;
		height: 100%;
		box-sizing: border-box;

		&_nav{
			padding-top: 100px;
		}

		&-content{
			height: 100%;
		}
	}

	.lk-header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff;
		box-shadow: 0 2px 4px -2px rgba(#000, .35);
		z-index: 900;


		&__top{
			display: flex;
			align-items: center;
			box-sizing: border-box;
			height: 65px;
		}

		&__handler{
			cursor: pointer;
			width: 50px;
			min-width: 50px;
			height: 50px;
			position: relative;
			border-radius: 50%;
			margin: -15px 5px -15px -15px;

			&-burger{
				width: 16px;
				height: 2px;
				position: absolute;
				top: 50%;
				left: 50%;
				background: $color-yellow;
				border-radius: 10px;
				transform: translate(-50%, -50%);
				transition: all .3s ease;

				.lk-header__handler_active & {
					width: 2px;
				}

				&:before,
				&:after{
					content: '';
					width: 16px;
					height: 2px;
					position: absolute;
					top: 50%;
					left: 50%;
					background: $color-yellow;
					border-radius: 10px;
					transition: all .3s ease;
					transform: translate(-50%, -50%) rotate(0);
				}

				&:before{
					margin-top: -7px;

					.lk-header__handler_active & {
						transform: translate(-50%, -50%) rotate(-45deg);
						margin-top: 0;
					}
				}

				&:after{
					margin-top: 7px;

					.lk-header__handler_active & {
						transform: translate(-50%, -50%) rotate(-135deg);
						margin-top: 0;
					}
				}
			}
		}

		&__title{
			font-size: 24px;
			font-family: $font-title;
			user-select: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}


</style>